
body {
    background: lightgray;
}

fieldset {
    line-height: 2;
}
button {
    background: slategray;
    border: 1px solid darkslategray;
    border-radius: 2px;
    color: mistyrose;
}
button:after {
    font-style: italic;
}

button:hover {
    box-shadow: 0 0 10px 0 lawngreen;
}
button:hover:after {
    content: " (hovered)";
}

button:focus {
    box-shadow: 0 0 10px 0 deepskyblue;
    outline: none;
}
button:focus:after {
    content: " (focussed)";
}

input[type="radio"] {
    width: 1.2em;
    height: 1.2em;
    vertical-align: -0.1em;
    margin: 0 .6em 0 0;
}
